* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  background: rgb(80, 10, 10);
  display: flex;
  flex-direction: column;
}

.menu {
  background: darkred;
  margin: 5px 50px;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

a {
  color: white;
  text-decoration: none;
}

main {
  flex: 1;
}

h1 {
  padding: 5px;
  margin: 50px;
  text-align: center;
}

footer {
  background: rgb(92, 19, 19);
  text-align: center;
  padding: 15px;
  color: wheat;
}

img {
  width: 200px;
  padding: 0;
  margin: 0;
}

.imagens {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  margin-top: -30px; /* sobe as imagens */
}
