* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  background: darkslategrey;
  display: flex;
  flex-direction: column;
}

.menu {
  background-color: black;
  margin: 5px 50px;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

a {
  color: darkred;
  text-decoration: none;
}

main {
  flex: 1;
}

h1 {
  background: darkred;
  padding: 5px;
  margin: 50px;
  text-align: center;
}

footer {
  background: darkcyan;
  text-align: center;
  padding: 15px;
}
